
.slider {
    width: 650px;
    margin: 0 auto;
}

.post {
    height: 200px;
    margin: 5px;
}

img {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background: lightgrey;
}
/* fading slider */
.fading-slider {
  width: 500px;
  margin: 0 auto;
  position: relative;
}


/* syncing slider */
h1 {
  text-align: center;
}


.row {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}


.slider-for {
  height: 50%;
}

.slider-for img {
  height: 500px;
}

.slider-nav img {
  height: 250px;
}



