/* 

.post {
  height: 300px;
  width: 100%;
  display: inline-block;
  margin: 10px;
  border: 2px solid red;

}


.horizontal {
  height: 500px;

  border: 2px solid black;
  overflow: hidden;
  width: 600px;
  margin: 0 auto;
}

img {
  width: 100%;
  object-fit: contain;
} */